@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title.</h2>

<!--Information About the Team-->
<p>We are a group of students from Davenport's Business Professionals of America, competeing in the web application virtual event for the first time. Tasked with building a traveling based web site we quickly came up with Gradien, the latin word for traveling. The team consist of four friends: Mike, Matt, Dalton, and Josh all taking Computer Information Systems at Davenport. Mike and Josh are specializing in programming, while Dalton and Matt specialize in Web Design. </p>
<address>
    Davenport University<br />
    6191 Kraft Ave S.E.<br />
    Grand Rapids, MI 49512<br />
</address>
<h3>BPA Chapter: Davenport University-Grand Rapids 04-0045</h3>
<h3>Members Name and Roles</h3>
<address>
    <strong>Josh Estrada:</strong>   Database Design and Web Designer<br />
    <strong>Matthew Woodhead:</strong> Project Manager and Web Programmer<br />
    <strong>Michael Trihn</strong> Database Programmer and Web Programmer<br />
    <strong>Dalton Jones</strong> Lead Web Designer</a>
</address>
