
@{
    ViewBag.Title = "FAQ";
}

<h2>FAQ</h2>
<h3>Why?</h3>
<p>We were tasked by Business Professionals of America to create a travel website. We strive to use our experince to try to provide a
     website that will allow users to choose and plan a trip to a location, book air-flights, and reserve hotel rooms.</p>
<br/>
<h3>Who?</h3>
<p>We are a small team of developers who all currently study at Davenport University. Both Josh Estrada and Michael Trihn study Computer Information Systems with a speciatly in Programing. 
    Dalton and Matt are Computer Information Systems with specialty in Web Design. Together we choose the website and team name Gradiens which is the latin word for traveling.</p>
<br />
<h3>Does your website reserves tickets and rooms?</h3>
<p>No, currently this website is made to particpate in the Team Web Application competion in Business Professionals of America. We do not actually book or reserve hotels and flights.
    This means that we also do not charge any credit/debit cards as well. This is just a test website that simulates the process.</p>
<h3>Do you save any credit/debit card or any other extremely sensitive information?</h3>
<p>No, we do not save any informations such as credit or debit cards.</p>

