@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    div.search {
        width: 47vw;
        height: 250px;
        margin: 0 auto;
        background-color: rgba(35, 35, 35, 0.60);
    }

    div.recommended {
        display: block;
    }

        div.recommended ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }

        div.recommended li {
            display: inline;
            padding: 35px;
        }

    div.pictures {
        width: 100vw;
        margin: 0 auto;
    }

    input.btnSubmit {
        background-color: rgba(35, 35, 35, 1);
        color: white;
        border-color: black;
    }
</style>
<script type="text/javascript">
    /*function showhide(id) {
        if (id == "btn1") {
            var elementsToHide = document.querySelectorAll("div.flight,div.fh");
            var elementsToShow = document.querySelectorAll(".hotel");

            for (var i = 0; i != elementsToHide.length; i++) {
                elementsToHide[i].style.display = "none";
            }
            for (var i = 0; i != elementsToShow.length; i++) {
                elementsToShow[i].style.display = "inline";
            }
        }
        else if (id == "btn2") {
            var elementsToHide = document.querySelectorAll("div.fh,div.hotel");
            var elementsToShow = document.querySelectorAll(".flight");

            for (var i = 0; i != elementsToHide.length; i++) {
                elementsToHide[i].style.display = "none";
            }
            for (var i = 0; i != elementsToShow.length; i++) {
                elementsToShow[i].style.display = "inline";
            }
        }
    }*/

</script>
<div class="homecontent">
    <div class="pictures">
    </div>
    <div class="search">
        <!--Search Hotel Database-->
        <fieldset>
            <legend>Search Hotel</legend>
            @using (Html.BeginForm("Index","Hotel"))
            {
                List<SelectListItem> list = new List<SelectListItem>();
                list.Add(new SelectListItem() { Text = "All Locations", Value = "" });
                list.Add(new SelectListItem() { Text = "Chicago, Illinois", Value = "chicago" });
                list.Add(new SelectListItem() { Text = "Grand Rapids, Michigan", Value = "grand rapids" });
                list.Add(new SelectListItem() { Text = "Sydney, Australia", Value = "sydney" });

                @Html.Label("Hotel Name")<br />
                @Html.TextBox("txtName")<br />
                <br />
                @Html.Label("Hotel City")<br />
                @Html.DropDownList("selectLocation", list)<br/>
                <input type="submit" value="Search" id="btnSearch"/>
            }
        </fieldset>
    </div>
    <div class="recommended">
        <ul>
            <h3 style="text-indent:10px">Recommended Locations</h3>
            <br />
            <li><a href="~/MakingATrip/MakingATrip"><img src="~/Images/New York.jpg" style="height:200px;width:200px" /></a></li>
            <li><img src="~/Images/San Fran.jpg" style="height:200px;width:200px" /></li>
            <li><img src="~/Images/florida.jpeg" style="height:200px;width:200px" /></li>
        </ul>
    </div>
</div>