@{
    ViewBag.Title = "Home Page";
}

<div class="homecontent">
    <div class="search">

    </div>
    <div class="recommended">
        <ul style="list-style-type:none;margin:0px;padding:0px">
            <h3 style="text-indent:10px">Recommended Locations</h3>
            <br />
            <li style="display:inline;padding:35px"><img src="~/Images/New York.jpg" style="height:200px;width:200px"/></li>
            <li style="display:inline;padding:35px"><img src="~/Images/San Fran.jpg" style="height:200px;width:200px"/></li>
            <li style="display:inline;padding:35px"><img src="~/Images/florida.jpeg" style="height:200px;width:200px"/></li>
        </ul>
    </div>
</div>