@{
    ViewBag.Title = "Home Page";
}
<style type="text/css">
    div.search {
        width: 47vw;
        height: 250px;
        margin: 0 auto;
        background-color: rgba(35, 35, 35, 0.60);
    }

    div.recommended {
        display: block;
    }

        div.recommended ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }

        div.recommended li {
            display: inline;
            padding: 35px;
        }

    div.pictures {
        width: 100vw;
        margin: 0 auto;
    }
</style>
<script type="text/javascript">
    /*function showhide(id) {
        if (id == "btn1") {
            var elementsToHide = document.querySelectorAll("div.flight,div.fh");
            var elementsToShow = document.querySelectorAll(".hotel");

            for (var i = 0; i != elementsToHide.length; i++) {
                elementsToHide[i].style.display = "none";
            }
            for (var i = 0; i != elementsToShow.length; i++) {
                elementsToShow[i].style.display = "inline";
            }
        }
        else if (id == "btn2") {
            var elementsToHide = document.querySelectorAll("div.fh,div.hotel");
            var elementsToShow = document.querySelectorAll(".flight");

            for (var i = 0; i != elementsToHide.length; i++) {
                elementsToHide[i].style.display = "none";
            }
            for (var i = 0; i != elementsToShow.length; i++) {
                elementsToShow[i].style.display = "inline";
            }
        }
    }*/

</script>
<div class="homecontent">
    <div class="pictures">
    </div>
    <div class="search">
       <!--<button onclick="showhide(this.id)" id="btn1">Show Div1</button>
        <button onclick="showhide(this.id)" id="btn2">Show Div2</button>-->
            <form action="">
                Hotel Name<br>
                <input class="hotelName" type="text"><br />
                Location<br>
                <select class="locationSelect">
                    <option value="chicago">Chicago,Illinois</option>
                    <option value="grand rapids">Grand Rapids, Michigan</option>
                    <option value="sidney">Sidney, Australia</option>
                </select><br />
                <buttom onclick="search()" id="btnSearch">Search</buttom>
            </form>
    </div>
    @Html.ActionLink("Test", "Index", "Hotel")
    <div class="recommended">
        <ul>
            <h3 style="text-indent:10px">Recommended Locations</h3>
            <br />
            <li><a href="~/MakingATrip/MakingATrip"><img src="~/Images/New York.jpg" style="height:200px;width:200px" /></a></li>
            <li><img src="~/Images/San Fran.jpg" style="height:200px;width:200px" /></li>
            <li><img src="~/Images/florida.jpeg" style="height:200px;width:200px" /></li>
        </ul>
    </div>
</div>