body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 95vw;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 30vw;
}

div.body-content {
    margin: 0 auto;
}

#headBar {
    width: 60vw;
    margin: 0 auto;
}

    #headBar ul {
        list-style-type: none;
        margin: 0 auto;
        text-align: center;
    }

        #headBar ul li {
            display: inline;
            padding: 1vw;
            padding-left: 16px;
            padding-right: 16px;
            font-size: 30px;
            width: 2vw;
            height: 1vw;
            margin: 1vw;
        }

#title {
    padding-top: 50px;
    margin-bottom: -25px;
}

#subTitle {
    padding-top: 15px;
    text-indent: 5px;
}

img.hotelImage {
    max-height: 200px;
    max-width: 225px;
}

ul.footer {
    list-style-type: none;
    display: inline;
}

.column {
    float: left;
    margin: 0 60px;
    font-size: 15px;
    color: #535353;
    display: inline-block;
    opacity: 0.8;
}

    .column li {
        padding-bottom: 10px;
    }

footer {
    width: 50vw;
    margin: 0 auto;
    font-size:17px;
}

div.search {
    width: 30vw;
    height: 40vh;
    align-self: center;
    margin: 0 auto;
    z-index: 5;
    background-color: rgba(35, 35, 35, .8);
    color: white;
}

#searchField {
    padding-left: 20px;
}

    #searchField legend {
        color: white;
        text-align: center;
    }

div.recommended {
    display: block;
    margin: 0 auto;
    width: 55vw;
}

    div.recommended ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        font-size: 15px;
        text-align: center;
    }



    div.recommended li {
        display: inline;
        padding: 35px;
    }

        div.recommended li.recommendedText {
            padding: 77px;
        }

#btnSearch {
    background-color: rgba(35, 35, 35, 1);
    color: white;
    border-color: black;
}


#searchPageContent {
    max-width: 90vw;
    margin: 0 auto;
}

div.recommended img {
    height: 200px;
    width: 200px;
}

#slideShowPhoto {
    width: 800px;
    height: 500px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    display: block;
    z-index: 1;
}

#pictures {
    width: 55vw;
    height: 60vh;
    margin: 0 auto;
    background-image: url(../Images/SnowyCity.jpg);
    background-size: 55vw 60vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

ul.footer li {
    padding: 10px;
}

#searchField #txtName {
    color: black;
}

#searchMobile {
    display: none;
}

#mobileHeader{
    display:none;
}

@media screen and (max-width:1497px) {
    div.recommended {
        display: none;
    }

    #searchField {
        display: none;
    }

    #pictures {
        display: none;
    }

    #searchMobile {
        display: block;
        width: 30%;
        height: 20%;
        align-self: center;
        margin: 0 auto;
        z-index: 5;
        background-color: rgba(35, 35, 35, .8);
        color: white;
        text-align: center;
        padding-bottom:20px;
    }

        #searchMobile legend {
            color: white;
        }

        #searchMobile #txtName {
            color: black;
            font-size: 20px;
        }
}

@media screen and (max-width:825px) {

    #searchMobile {
        width: 50%;
        height: 20%;
        align-self: center;
        margin: 0 auto;
        z-index: 5;
        background-color: rgba(35, 35, 35, .8);
        color: white;
        text-align: center;
        padding-bottom:20px;
    }

    #headBar ul li {
        display: inline;
        padding: 0vw;
        padding-left: 1vw;
        padding-right: 1vw;
        font-size: 2vh;
        width: .5vw;
        height: .1vw;
        margin: .1vw;
    }

    #header{
        display:none;
    }

    #mobileHeader{
        display:inline;
    }

    img.hotelImage {
    max-height: 100px;
    max-width: 125px;
}
    table tr{
        width:1vw;
    }
}

@media screen and (max-width:414px)
{
    #txtName{
        width:76vh;
    }
    #searchMobile {
        width: 65%;
        height: 20%;
        align-self: center;
        margin: 0 auto;
        padding-bottom:20px;
        z-index: 5;
        background-color: rgba(35, 35, 35, .8);
        color: white;
        text-align: center;
    }
    }
}
