
@{
    ViewBag.Title = "FAQ";
}

<h2>FAQ</h2>
<h3>Why?</h3>
<p>Aliquam sagittis volutpat gravida. Suspendisse eget urna lorem.</p>
<br/>
<h3>Who?</h3>
<p>Praesent efficitur augue faucibus felis tincidunt, at tristique elit lobortis. Proin pretium nisl ut libero placerat, eget imperdiet enim facilisis.</p>
<br />
<h3>Where?</h3>
<p>Nunc et auctor metus, et ultricies metus. In hac habitasse platea dictumst. Proin lacinia varius orci vitae fermentum. Praesent scelerisque lorem quis sapien placerat, non dictum mauris semper. Pellentesque tristique tempus turpis, et molestie tortor eleifend vitae.</p>

