@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Message</h2>

<h3>BPA Chapter: Davenport University-Grand Rapids</h3>

<br/>
<p>We would love to hear your feed back on our website, along with any problems or concerns you may have faced.</p>
<h3>Address</h3>
<address>
    Davenport University<br />
    6191 Kraft Ave S.E.<br />
    Grand Rapids, MI 49512<br />    
</address>
<h3>Email</h3>
<address>
    <strong>Josh Estrada:</strong>   <a href="mailto:jestrada5@email.davenport.edu">jestrada5@email.davenport.edu</a><br />
    <strong>Matthew Woodhead:</strong> <a href="mailto:mwoodhead@email.davenport.edu">mwoodhead@email.davenport.edu</a><br/>
    <strong>Michael Trihn</strong> <a href="mailto:Mtrinh1@email.davenport.edu">Mtrinh1@email.davenport.edu</a><br/>
    <strong>Dalton Jones</strong> <a href="mailto:djones202@email.davenport.edu">djones202@email.davenport.edu</a>
</address>