
@{
    ViewBag.Title = "MakingATrip";
}
<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
</head>

<h2>MakingATrip</h2>

<body>
    <h3>Making A Trip Map</h3>
    <div id="map"></div>
    <script>
        function initMap() {
            var Center = { lat: 0.0, lng: 0.0 };
            var Chicago = { lat: 41.8781, lng: -87.6298 };
            var GrandRapids = { lat: 42.9634, lng: -85.6681 };
            var Aussie = { lat: -33.8688, lng: 151.2093 };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 2,
          center: Center
        });

        var Grand = '<div><h1>Grand Rapids</h1></div>';
        var CHI = '<div><h1>Chicago</h1></div>';
        var AUS = '<div><h1>Sydney</h1></div>';

        var info = new google.maps.InfoWindow({
            content: Grand
        });
        var information = new google.maps.InfoWindow({
            content: CHI
        });
        var infomationWindow = new google.maps.InfoWindow({
            content: AUS
        });
         var GR = new google.maps.Marker({
          position: GrandRapids,
          map: map,
          title: 'Grand Rapids'
        });
         var CH = new google.maps.Marker({
             position: Chicago,
             map: map,
             title: 'Chicago'
         });
         var AU = new google.maps.Marker({
             position: Aussie,
             map: map,
             title: 'Australia'
         });
         
         GR.addListener('click', function () {
             info.open(map, GR);
         });
         CH.addListener('click', function () {
             information.open(map, CH);
         });
         AU.addListener('click', function () {
             infomationWindow.open(map, AU);
         });

          }
    </script>

    <form action="">
        <div class="hotel">
            <fieldset>
                Location<br>
                <input class="btn1" type="text"><br />
                Check In Date<br>
                <input class="btn1" type="text"><br />
                Check Out Date<br />
                <input class="btn1" type="text"><br />
            </fieldset>

        </div>
        <div class="flight">
            <fieldset>
                Email<br>
                <input class="btn1" type="text"><br>
                Password<br>
                <input class="btn1" type="text">
            </fieldset>

        </div>
        <div class="fh">
            <fieldset>
                Address<br>
                <input class="btn1" type="text"><br>
                City<br>
                <input class="btn1" type="text"><br>
            </fieldset>
            <input type="submit" value="Submit" />
        </div>
    </form>

    <script async defer
           src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAx1UItaXdujKDjEEP4moYvqm3XfpH3x0c&callback=initMap">
    </script>
</body>
 
